.Main-content{
  @media(max-width:640px){
    padding: 0 40px!important;
  }
}

/*Custom fonts installing*/
@font-face { 
  font-family: 'santorini';
  src: url('https://static1.squarespace.com/static/59cb26e0a8b2b0ac8ab654bc/t/631bbde31688641c58d10e19/1662762468953/Santorini.ttf') format('truetype');
}



/*Quote block customization*/
.image-block-card-dynamic-font-sizing .sqs-block-image .design-layout-card .image-subtitle p	{
  padding-right: 33px;
  font-size: 16px!important;
}
.sqs-block-image .design-layout-card .image-title p{
  font-family: 'santorini'!important;
  color: #996456;
  letter-spacing: 5px;
  font-size: 35px!important;
}
#quote{
  margin-bottom: -100px;
  @media(max-width:640px){
    margin-bottom: 0px;
  }
}



/*Review block customization*/
h1{
  font-family: 'santorini'!important;
  color: #996456;
}
#block-yui_3_17_2_1_1662758995055_3619{
  text-align: center;
  white-space: pre-wrap;
}
#review:before {
  content: '';
  width: 100%;
  height: 66%;
  background: rgba(215,205,195,.5);
  position: absolute;
  left: 0;
  bottom: 35px;
  display: block;
  @media(max-width:640px){
    bottom: 0px;
    top:110px;
    height: 100vh;
  }
}



/*Portfolio block customization*/
#block-yui_3_17_2_1_1662863375008_2710{
  border: 2px solid #D6CCC2;
  color: #996456;
  padding-bottom: 0px;
  padding-top: 50px;
}
#block-631d3e3697eee310a31cafe7 h2 {
  margin-top: 85px;
  margin-right: -140px;
  color: #996456;
  @media(max-width:640px){
    margin: 0 30px -120px 0;
  }  
}
#block-yui_3_17_2_1_1662863375008_14084{
  margin-top: 60px;
  z-index: 44;
}
#home-portfolio{
  margin-bottom: 80px;
}



/*CTA block customization*/
.sqs-gallery-block-slideshow .meta .meta-title {  
  margin-left: -250px;
  margin-top: 80px;
  font-family: 'santorini';
  text-transform: capitalize;
  font-size: 36px;
  color: #000;
  padding: 4px;
  -moz-transform: translatex(-50%) translatey(-80%) rotate(-90deg);
  -webkit-transform: translatex(-50%) translatey(-80%) rotate(-90deg);
  transform: translatex(-70%) translatey(-100%) rotate(-90deg);
  @media(max-width:640px){
    margin-left: 0px;
  }
}
.sqs-gallery-block-slideshow .meta-inside {
  padding: 0px;
}
#home-cta{
  background: linear-gradient(0deg, #FFF 10%,rgba(215,205,195,.5) 70%,#FFFFFF 0%);
}



/*Footer customization*/
#block-yui_3_17_2_1_1662826373056_4962 {
  margin-top: -170px;
}
#block-yui_3_17_2_1_1662824864985_35838{
  border: 1px solid #D6CCC2;
  padding-top: 22px;
  padding-bottom: 0px;
}
.Footer-middle{
  background: #D6CCC2;
  margin: 0 -100px 0 -110px;
  height: 60vh;
  @media(max-width:640px){
    margin: 0;
    background: none;
  }
}
#footerBlocksBottom{
  margin-top: -400px;
  @media(max-width:640px){
    background: #D5CCC2;
    padding-bottom: 30px;
  }
}



/*Portfolios page customization*/
#corporate-events-headshots-portfolio, #midone, #sports-photography-portfolio, #weddings-portfolio {
  background: linear-gradient(0deg,#DEC8BE 80%,#FFFFFF 0%);
  padding: 0;
}
#video-content-portfolio, #teams-clubs-photography-portfolio, #food-restaurants-hotels-portfolio {
  background: linear-gradient(0deg,#FFFFFF 80%,#DEC8BE 0%);
  padding: 0;
}



/*Pricing page customization*/
#block-yui_3_17_2_1_1662996669849_48982{
  margin-left: -3px;
}
#block-yui_3_17_2_1_1662996669849_50534{
  margin-left: 8px;
}
#block-yui_3_17_2_1_1662996669849_48982, #block-yui_3_17_2_1_1662996669849_50534 {
  background: rgba(214,204,194,.96);
  width: 90%;
  margin-top: -65px;
  position: relative;
  color: #FFF;
  @media(max-width:640px){
    margin-left: 10px;
    padding-right: 0px;
  }
}
#block-yui_3_17_2_1_1662996669849_48982 h2, #block-yui_3_17_2_1_1662996669849_50534 h2, #block-yui_3_17_2_1_1662996669849_48982 h3, #block-yui_3_17_2_1_1662996669849_50534 h3{
  color: #FFFFFF;
}



//Booking page customization
#block-yui_3_17_2_1_1663005852192_18098{
  @media(max-width:640px){
    margin: auto;
    width: 20vw;
  }
}
